@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
section {
  border-radius: 1%;
  padding: 0.25em;
  max-width: 80%;
  margin: auto;
}
body {
  background: #000;
}
section {
  background: #574059;
  width: 50%;
  margin: auto;
}
.one {
  transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 1.5em;
  padding: 50px;
  background: #7b1e7a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
}
